<ul>
  <li><%= link_to "Russian poker", russian_poker_path, class: "btn btn-lg btn-primary" %></li><br>
  <li><%= link_to "Roulette", roulette_path, class: "btn btn-lg btn-primary" %></li><br>
  <li><%= link_to "Texas holdem poker", texas_holdem_path, class: "btn btn-lg btn-primary" %></li><br>
  <li><%= link_to "Black jack", black_jack_path, class: "btn btn-lg btn-primary" %></li><br>
  <li><%= link_to "Bacarratt", bacarratt_path, class: "btn btn-lg btn-primary" %></li><br>
  <li><%= link_to "Complites", complites_path, class: "btn btn-lg btn-primary" %></li><br>
</ul>
